{% extends "base.html" %}

{% load mathfilters %}
{%  load humanize %}

{% block title %} Shopcart {% endblock title %}

{% block content %}

<!--content section-->
 <div class="container-fluid mt-5 mb-5">
     <div class='row'>
         <div class="col-12 col-sm-6 col-md-6 col-lg-2"></div>
         <div class="col-12 col-sm-6 col-md-6 col-lg-8 p-5">
             <table class="table">
                 <thead>
                     <tr>
                       <th scope="col">Delete</th>
                       <th scope="col">product</th>
                       <th scope="col">image</th>
                       <th scope="col">price</th>
                       <th scope="col">Quantity</th>
                       <th scope="col">Quantity Update</th>
                       <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    </tbody>
                    {% if cart %}
                        {% for item in cart %}
                            <tr>
                                <td>
                                    <form action="{% url 'deleteitem' %}" method="POST">
                                    {% csrf_token %}
                                        <input type="hidden" name="itemid" value="{{item.id}}">
                                        <button type="submit" class="btn btn-danger">&times;</button>
                                    </form>
                                </td>
                                <td>{{item.product.name}}</td>
                                <td><img src="{{item.product.image.url}}" width="60PX"></td>
                                <td>{{item.product.price|floatformat:2|intcomma}}</td>
                                <td>{{item.quantity}}</td>
                                <td>
                                    <form  action="{% url 'increase' %}" method="POST">
                                    {% csrf_token %}
                                        <input type="number" name="itemval" value="{{item.quantity}}" min="{{item.min}}" max="{{item.max}}" style="width: 50px;">
                                        <input type="hidden" name="valid" value="{{item.id}}">
                                        <button type="submit" class="btn btn-primary">&checkmark;</button>
                                    </form>
                                </td>
                                <td>{{item.product.price|mul:item.quantity|floatformat:2|intcomma}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Subtotal: {{subtotal}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Vat: {{vat}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: {{total}}</td> 
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{% url 'checkout' %}">Checkout</a></td> 
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-2"></div>
        </div>

{% endblock content %}