{% extends "base.html" %}

{% block title %}
  All Categories
{% endblock title %}

{% block content %}

<!---contennt section -->

<div class="container-fluid">
    <h1>Featured Products</h1>
    <div class="row">
        {% if categories %}
            {% for item in categories %}
                <!-- box1  -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                       <a href="{% url 'category' item.id %}"> <img src="{{item.image.url}}" class="card-img-top" width="50px"></a>
                        <div class="card-body">
                        <a href="{% url 'category' item.id %}"><h5 class="card-title">{{item.title}}</h5></a>
                        </div>
                    </div>
                </div>
                <!-- box 1 end  -->
            {% endfor %}
        {% endif %}    
    </div>
</div>
        
          
<!--content section end-->
{% endblock content %}
    
